rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAdmin() {
      return request.auth != null && 
        (request.auth.token.email == 'social.ahmro@gmail.com' || 
         request.auth.token.email.matches('.*@arbfarms\\.com$') ||
         (exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
          get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin')
        );
    }

    // Security rules for the orders collection
    match /orders/{orderId} {
      allow create: if true;
      allow update: if true;
      allow read, delete, update: if isAdmin();
    }
    
    // Security rules for users
    match /users/{userId} {
      allow read: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null && request.auth.uid == userId;
      // Prevent users from approving their own land size or changing their tier
      allow update: if request.auth != null && request.auth.uid == userId && 
                    (!request.resource.data.diff(resource.data).affectedKeys().hasAny(['landSizeStatus', 'tier']));
      
      allow read, write: if isAdmin();
    }
  }
}
